<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.denimexpertexpo.denimexpo" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/ThemeOverlay.AppCompat.Dark"
        tools:replace="icon,label" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".Activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignupLoginActivity"
            android:label="@string/title_activity_signup_login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name=".Activities.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name=".Activities.BarcodeActivity"
            android:label="@string/title_activity_barcode"
            android:parentActivityName=".Activities.MainMenuActivity" />
        <activity
            android:name=".Activities.BarcodeResultActivity"
            android:label="@string/title_activity_barcode_result"
            android:parentActivityName=".Activities.BarcodeActivity" />
        <activity
            android:name=".Activities.RegisrtationActivity"
            android:label="@string/title_activity_regisrtation"
            android:parentActivityName=".Activities.SignupLoginActivity" />
        <activity
            android:name=".Activities.DirectionActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".Activities.MainMenuActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.denimexpertexpo.denimexpo.Activities.MainMenuActivity" />
        </activity>
        <activity
            android:name=".Activities.ScheduleActivity"
            android:label="@string/title_activity_schedule" >
        </activity>

        <provider
            android:name=".DBHelper.ScheduleProvider"
            android:authorities="com.denimexpertexpo.denimexpo.DBHelper.ScheduleProvider"
            android:exported="false" />
        <provider
            android:name=".DBHelper.VisitorProvider"
            android:authorities="com.denimexpertexpo.denimexpo.DBHelper.VisitorProvider"
            android:exported="false" />
        <provider
            android:name=".DBHelper.ExhibitorProvider"
            android:authorities="com.denimexpertexpo.denimexpo.DBHelper.ExhibitorProvider"
            android:exported="false" />

        <activity
            android:name=".Activities.ScheduleDetailsActivity"
            android:label="@string/title_activity_schedule_details" >
        </activity>
        <activity
            android:name=".Activities.VisitorActivity"
            android:label="@string/title_activity_visitor" >
        </activity>
        <activity
            android:name=".Activities.VisitorDetailsActivity"
            android:label="@string/title_activity_visitor_details" >
        </activity>
        <activity
            android:name=".Activities.ExhibitorActivity"
            android:label="@string/title_activity_exhibitor" >
        </activity>
        <activity
            android:name=".Activities.SitemapActivity"
            android:label="@string/title_activity_sitemap" >
        </activity>
        <activity
            android:name=".Activities.ExhibitorDetailsActivity"
            android:label="@string/title_activity_exhibitor_details" >
        </activity>
    </application>

</manifest>
